.content .index {
  font-family: $font-sans;
  margin: $space-xl 0;

  h1, h2, h3, h4 {
    font-weight: bold;
    line-height: 1;
  }

  h1 {
    font-size: $font-xx;
    margin-bottom: $space-xl;
  }

  h2 {
    font-size: $font-xl;
    margin-bottom: $space-lg;
  }

  h3 {
    font-size: $font-lg;
    margin-bottom: $space-md;

    @include media-m {
      font-size: $font-md;
    }

    @include media-l {
      font-size: $font-lg;
    }
  }

  p, ul {
    line-height: 1.6;
    margin: $space-lg 0;
  }

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: currentColor;

    &:hover {
      text-decoration-color: $color-active;
    }
  }
}
