/**
 * markdown styling
 */
.md {
  font-family: $font-sans;
  margin: $space-xl 0;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1;
  }

  h1 {
    font-size: $font-xx;
    margin-bottom: $space-xl;
  }

  h2 {
    font-size: $font-xl;
    margin-bottom: $space-lg;
  }

  h3 {
    font-size: $font-lg;
    margin-bottom: $space-md;

    @include media-m {
      font-size: $font-md;
    }

    @include media-l {
      font-size: $font-lg;
    }
  }

  h4 {
    font-size: $font-md;
    margin-bottom: $space-md;
  }

  h5 {
    font-size: $font-sm;
    margin-bottom: $space-md;
  }

  h6 {
    font-size: $font-xs;
    margin-bottom: $space-md;
  }

  p {
    line-height: 1.6;
    margin: $space-lg 0;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: currentColor;

    &:hover {
      text-decoration-color: $color-active;
    }
  }

  hr {
    border: none;
    border-top: 1px solid $color-active;
    margin: $space-lg 0;
  }

  blockquote {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 10px solid rgba(255, 255, 255, 0.3);
    padding: 0 $space-md;

    p {
      margin: 0;
      padding: $space-md 0;
    }
  }

  code,
  pre {
    font-family: $font-mono;
    font-size: $font-xs;
    font-variant: normal;
    line-height: 1.5;
    margin: $space-lg 0;
  }

  code {
    background-color: rgba($color-gray, 0.2);
    padding: 2px 6px;
  }

  pre {
    background-color: $color-gray;
    color: #fff;
    padding: $space-md;

    > code {
      padding: 0;
      background-color: transparent;
    }
  }

  img {
    max-width: 100%;
  }

  table {
    margin: $space-lg 0;
    width: 100%;

    thead {
      tr {
        border-bottom: 2px solid $color-gray;
      }

      th {
        font-weight: bold;
      }
    }

    tbody {
      tr:not(:last-child) {
        border-bottom: 1px solid $color-gray;
      }

      td {
        line-height: 1.25;
      }
    }

    th, td {
      padding: $space-sm;

      &:first-of-type {
        padding-left: 0
      }

      &:last-of-type {
        padding-right: 0
      }
    }
  }

  ul {
    line-height: 1.6;
    margin: $space-lg 0 $space-lg $space-xl;
    list-style-type: disc;

    li {
      margin: $space-sm 0;
    }

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    line-height: 1.6;
    margin: $space-lg 0 $space-lg $space-xl;
    list-style-type: decimal-leading-zero;

    ol {
      list-style-type: d;
    }
  }
}
